{
    frankenphp
}

:80 {
    root * /app/public

    encode zstd br gzip

    php_server {
                   try_files {path} index.php
               }

    file_server

    log {
            output stdout
            format console
        }
}
